In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\francisca\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\francisca\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\francisca\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\francisca\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\francisca\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\francisca\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
!pip install pymongo

Requirement already satisfied: pymongo in c:\users\francisca\anaconda3\lib\site-packages (4.13.2)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\francisca\anaconda3\lib\site-packages (from pymongo) (2.7.0)

In [16]:
import pandas as pd

In [17]:
import pymongo

In [18]:
from pymongo import MongoClient

In [19]:
#cliente = MongoClient('localhost', 27017)

In [25]:
# Almacenar la conexión a MongoDB en una variable
cliente = MongoClient("mongodb://localhost:27017/")

# Seleccionar la base de datos y la colección
db = cliente["bootcamp_tech"]
coleccion = db["alumnos_bootcamp"]

# Obtener todos los registros dentro de la tabla y guardarlos como una lista de diccionarios
registros = list(coleccion.find())

# Convertir todos los registros a un DataFrame para su tratamiento
df = pd.DataFrame(registros)

In [26]:
df

,_id,alumno_id,nombre,email,telefono,programa,fecha_ingreso,edad,experiencia_previa,estado,ultima_conexion,rut
0,688acbe7ad7a66240ce67464,A001,Carla Ramírez,carla.ramirez@gmail.com,987654321,Full Stack,2024-01-15,25.0,NaN,NaN,NaN,NaN
1,688acbe7ad7a66240ce67465,A002,M4rcos Silva,marcos.silva@hotmail.com,912345678,Data Science,2024-01-15,28.0,NaN,NaN,NaN,NaN
2,688acbe7ad7a66240ce67466,A003,Ana,ana.correo.incompleto,9876543210,UX/UI Design,2024-02-01,NaN,NaN,NaN,NaN,NaN
3,688acbe7ad7a66240ce67467,A004,Pedro Martinez,NaN,555xyz123,Full Stack,2024-01-20,22.0,NaN,NaN,NaN,NaN
4,688acbe7ad7a66240ce67468,A005,María González,None,987123456,Data Science,2024-01-25,30.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
95,688acc19ad7a66240ce674c4,A046,Bruno Sánchez,bruno.sanchez@yahoo.com,912345601,Cybersecurity,2024-09-15,28.0,NaN,NaN,NaN,NaN
96,688acc19ad7a66240ce674c5,A047,Agustina Paredes,NaN,923456712,Full Stack,2024-09-20,24.0,NaN,NaN,NaN,NaN
97,688acc19ad7a66240ce674c6,A048,Leonardo Muñoz,leonardo.munoz@gmail.com,934567823,UX/UI Design,2024-09-25,26.0,NaN,NaN,NaN,NaN
98,688acc19ad7a66240ce674c7,A049,Esperanza López,esperanza.lopez@outlook.com,945678934,Data Science,2024-10-01,30.0,NaN,NaN,NaN,NaN
99,688acc19ad7a66240ce674c8,A050,Nicolás Vargas,nicolas.vargas@hotmail.com,956789045,Cybersecurity,2024-10-05,23.0,NaN,NaN,NaN,NaN

In [27]:
df.isna().sum()

_id                    0
alumno_id              0
nombre                 4
email                 22
telefono               4
programa               2
fecha_ingreso         10
edad                  16
experiencia_previa    96
estado                94
ultima_conexion       94
rut                   96
dtype: int64

In [28]:
df[df["nombre"].isna()|(df["nombre"].str.strip()=="")]
df

,_id,alumno_id,nombre,email,telefono,programa,fecha_ingreso,edad,experiencia_previa,estado,ultima_conexion,rut
0,688acbe7ad7a66240ce67464,A001,Carla Ramírez,carla.ramirez@gmail.com,987654321,Full Stack,2024-01-15,25.0,NaN,NaN,NaN,NaN
1,688acbe7ad7a66240ce67465,A002,M4rcos Silva,marcos.silva@hotmail.com,912345678,Data Science,2024-01-15,28.0,NaN,NaN,NaN,NaN
2,688acbe7ad7a66240ce67466,A003,Ana,ana.correo.incompleto,9876543210,UX/UI Design,2024-02-01,NaN,NaN,NaN,NaN,NaN
3,688acbe7ad7a66240ce67467,A004,Pedro Martinez,NaN,555xyz123,Full Stack,2024-01-20,22.0,NaN,NaN,NaN,NaN
4,688acbe7ad7a66240ce67468,A005,María González,None,987123456,Data Science,2024-01-25,30.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
95,688acc19ad7a66240ce674c4,A046,Bruno Sánchez,bruno.sanchez@yahoo.com,912345601,Cybersecurity,2024-09-15,28.0,NaN,NaN,NaN,NaN
96,688acc19ad7a66240ce674c5,A047,Agustina Paredes,NaN,923456712,Full Stack,2024-09-20,24.0,NaN,NaN,NaN,NaN
97,688acc19ad7a66240ce674c6,A048,Leonardo Muñoz,leonardo.munoz@gmail.com,934567823,UX/UI Design,2024-09-25,26.0,NaN,NaN,NaN,NaN
98,688acc19ad7a66240ce674c7,A049,Esperanza López,esperanza.lopez@outlook.com,945678934,Data Science,2024-10-01,30.0,NaN,NaN,NaN,NaN
99,688acc19ad7a66240ce674c8,A050,Nicolás Vargas,nicolas.vargas@hotmail.com,956789045,Cybersecurity,2024-10-05,23.0,NaN,NaN,NaN,NaN

In [31]:
df.describe()

            edad
count  84.000000
mean   26.285714
std     2.813785
min    22.000000
25%    24.000000
50%    26.000000
75%    28.000000
max    33.000000

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   _id                 100 non-null    object
 1   alumno_id           100 non-null    object
 2   nombre              96 non-null     object
 3   email               78 non-null     object
 4   telefono            96 non-null     object
 5   programa            98 non-null     object
 6   fecha_ingreso       90 non-null     object
 7   edad                84 non-null     float64
 8   experiencia_previa  4 non-null      object
 9   estado              6 non-null      object
 10  ultima_conexion     6 non-null      object
 11  rut                 4 non-null      object
dtypes: float64(1), object(11)
memory usage: 9.5+ KB

In [38]:
#mostrar los datos unicos de la columna nombre
columnas_criticas = df[df["nombre"].astype(str).str.contains(r"\d", regex =True)]
columnas_criticas

,_id,alumno_id,nombre,email,telefono,programa,fecha_ingreso,edad,experiencia_previa,estado,ultima_conexion,rut
1,688acbe7ad7a66240ce67465,A002,M4rcos Silva,marcos.silva@hotmail.com,912345678,Data Science,2024-01-15,28.0,NaN,NaN,NaN,NaN
51,688acc19ad7a66240ce67498,A002,M4rcos Silva,marcos.silva@hotmail.com,912345678,Data Science,2024-01-15,28.0,NaN,NaN,NaN,NaN